/**********************
******** General
**********************/

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    color: #ddd;
    background-color: #333;
    font-family: Open Sans;
}

a {
    /* block hyperlink style (color blue & underline) */
    text-decoration: none;
    color: beige;
}

/**********************
******** Header
**********************/

.header_wrapper {
    background-color: #777;
}

header {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: baseline;
    font-size: 2vw;
}

header .page_title {
    font-size: 4vw;
    padding: 1vw 0 1vw 0;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 1vw;
}

/**********************
******** Main
**********************/

main {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 4vw auto 4vw auto;
    text-align: center;
    font-size: 2vw;
}

.site_owner, .page_description {
    width: 50%;
    text-align: left;
}

.site_owner .owner_name {
    margin: 0 2vw 0 2vw;
    font-size: 4vw;
}

.site_owner .owner_intro {
    margin: 2vw 0 2vw 0;
}

.page_description .example_code {
    margin: 0 2vw 0 2vw;
}

.page_description .project_list {
    margin: 2vw 0 2vw 0;
}

/**********************
******** Media queries
**********************/

@media (max-width: 480px) {
    header {
        display: block;
        font-size: 4vw;
    }

    header .page_title {
        font-size: 8vw;
    }

    nav ul {
        justify-content: flex-end;
    }

    main {
        font-size: 4vw;
    }

    .site_owner .owner_name {
        font-size: 8vw;
    }
}