/**********************
******** General ******
***********************/

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #333;
    font-family: 'Open Sans';
    text-align: center;
}

/**********************
******** Header *******
***********************/

header {
    width: 1200px;
    margin: auto;
    padding: 2rem;
    background: #888;
    color: black;
}

.title-background {
    margin: auto;
}

.page-title {
    margin: auto;
    padding: 0.5rem;
    font-size: 4rem;
    border-bottom: 0.2rem solid salmon;
}

.page-subtitle {
    margin: auto;
    font-size: 3rem;
}

.container-numbers_selected {
    display: flex;
    justify-content: space-around;
    margin: 2rem auto auto auto;
    background: grey;
}

.numbers_selected {
    width: 8rem;
    height: 8rem;
    border-radius: 4rem;
    background: white;
    font-size: 3rem;
    color: purple;
    /* line-height with same value as height: align text vertically at the center*/
    line-height: 8rem;
}

/**********************
******** Draw info section *******
***********************/

section {
    width: 1200px;
    margin: auto;
}

.draw_info {
    display: flex;
    margin-top: 2rem;
}

.draw_date {
    width: 200px;
    color: wheat;
    font-size: 1.5rem;
    line-height: 6rem;
}

.draw_result {
    display: flex;
    width: 1000px;
    margin: auto;
    justify-content: space-around;
}

.draw_result-numbers {
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    background: white;
    font-size: 2rem;
    color: purple;
    /* line-height with same value as height: align text vertically at the center*/
    line-height: 6rem;
}


/**********************
******** Overlay ******
***********************/

.overlay {
    display: block;
    position: absolute;
    left: 2vw;
    right: 2vw;
    bottom: 3vh;
    width: 96vw;
    height: 54vh;
    background: rgba(255, 255, 255, 0.9);
    /* cursor: pointer; Add a pointer on hover */
    transition: all 0.3s ease-out;
}

.hiding {
    height: 0;
    opacity: 0;
    /* bottom: 3vh; */
}

.overlay_title {
    text-align: center;
}

.overlay_container-numbers {
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    
    width: 96vw;
    height: 6vw;
}

.number_buttons {
    display: inline-block;
    width: 6vw;
    height: 6vw;
    border-radius: 4vw;
    margin-left: 1.6vw;
    margin-right: 1.6vw;
    font-size: 2vw;
    text-align: center;
    line-height: 6vw;
}

.first_row { background: #F1C40F; }
.second_row { background: #2980B9; }
.third_row { background: #C0392B; }
.fourth_row { background: #BDC3C7; }
.fifth_row { background: #27AE60; }