/***************************
********** Global **********
***************************/

html, body
{
    height: 100%;
}

/***************************
********** Header **********
***************************/





/***************************
********** Main **********
***************************/

.card
{
    background-color: #f8f9fa;
    color: #343a40;
}



/***************************
********** Resonsive *******
***************************/

@media (max-width: 575.98px)
{
    .nav-link
    {
        padding: 0.2rem 0.6rem 0.2rem 0.6rem;
        font-size: 0.9rem;
    }

    section
    {
        margin-top: 2rem;
    }

    .card
    {
        padding: 0;
        margin: 0 auto 1rem auto;
    }

    .card-body
    {
        padding: 0.5rem;
    }

    .card-title, blockquote
    {
        margin-bottom: 0.5rem;
    }

    .card-text
    {
        margin: 0;
    }
}

@media (max-width: 767.98px)
{

}

@media (max-width: 991.98px)
{

}

@media (max-width: 1199.98px)
{

}