/* Color palette
W3Schools.com HTML Color Picker
https://www.w3schools.com/colors/colors_picker.asp

Base color: #6699ff;

--- lighter/darker ---
100%: #ffffff;
80%: #99ffbb;
70%: Base Color;
60%: #33ff77;
40%: #00cc44;
20%: #006622;
10%: #003311;
5%: #001a09;
0%: #000000;

White: #FFFFFF
Green: #008000
Black: #000000
*/


/****************************
************ Global
****************************/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    /* font-size: 1.5rem; */
    color: #001a09;
    text-align: center;
}

/* onClick effect */
.pulse {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 3vw;
    height: 3vw;
    border: 0.2vw solid #99ffbb;
    border-radius: 50%;
    animation-name: pulse_wave;
    animation-duration: 1.5s;
    /* forwards makes the animation fixed to the final frame after the end */ 
    animation-fill-mode: forwards;
    /* ease-out makes the animation become slower toward the end */
    animation-timing-function: ease-out;
}

@keyframes pulse_wave {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        width: 5vw;
        height: 5vw;
        opacity: 0;
    }
}

/****************************
************ Header
****************************/

.buttons-bar {
    margin-top: 0.2vw;
    margin-bottom: -0.2vw;
    padding-right: 2vw;
    text-align: center;
}

.buttons {
    /* display: inline-block; */
    background-color: #001a09;
    padding: 0.2vw 0.5vw 0.2vw 0.5vw;
    outline: none;
    border: none;
    border-radius: 0.5vw;
    color: #99ffbb;
    font-size: 1.6vw;
    text-align: center;
    /* cursor: pointer; */
    transition: all 0.4s ease-in-out;
}

.buttons:hover {
    background-color: #99ffbb;
    color: #001a09;
}

/****************************
************ Main (Wrapper)
****************************/
.rows {
    padding: auto;
    margin: auto;
}

.characters {
    display: inline-block;
    width: 3vw;
    margin-top: 0.3vw;
    margin-bottom: 0.3vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    font-size: 2vw;
    text-shadow: #99ffbb 0 0 1.5vw; 
    text-align: center;
}

.highlighted {
    /* light green */
    color: #ffffff;
    opacity: 1;
}

.changed {
    animation-name: refresh;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

/* 불투명 굵은 흰 글자 -> 투명 일반 연록 글자 */
@keyframes refresh {
    0% {
        color: #ffffff;
        text-shadow: #ffffff 0 0 1.2vw;
        font-weight: 700;
        opacity: 1;
    }
    60% {
        font-weight: 700;
        opacity: 0.6;
    }
    100% {
        color: #99ffbb;
        text-shadow: #99ffbb 0 0 1.2vw;
        font-weight: 400;
        opacity: 0.2;
    }
}

.green_black {
    /* black green */
    color: #003311;
}

.green_dark {
    /* dark green */
    color: #006622;
}

.green {
    /* green */
    color: #00cc44;
}

.green_light {
    /* light green */
    color: #33ff77;
}

.green_white {
    /* white green */
    color: #99ffbb;
}

.black {
    /* black */
    color: #001a09;
}

