/* Color palette
W3Schools.com HTML Color Picker
https://www.w3schools.com/colors/colors_picker.asp

Base color: #6699ff;

--- lighter/darker ---
100%: #ffffff;
80%: #99ffbb;
70%: Base Color;
60%: #33ff77;
40%: #00cc44;
20%: #006622;
10%: #003311;
5%: #001a09;
0%: #000000;

White: #FFFFFF
Green: #008000
Black: #000000
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    /* font-size: 1.5rem; */
    color: #001a09;
    text-align: center;
}

.buttons {
    background-color: #001a09;
    margin-top: 1vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    outline: none;
    border: none;
    border-radius: 0.5vw;
    color: #99ffbb;
    font-size: 1.6vw;
    text-align: center;
    /* cursor: pointer; */
    transition: all 0.4s ease-in-out;
}

.buttons:hover {
    background-color: #99ffbb;
    color: #001a09;
}

.rows {
    padding: auto;
    margin: auto;
}

.characters {
    display: inline-block;
    width: 3vw;
    margin-top: 0.3vw;
    margin-bottom: 0.3vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    font-size: 2vw;
    text-align: center;
}

.highlighted {
    /* light green */
    color: #ffffff;
}

.green_black {
    /* black green */
    color: #003311;
}

.green_dark {
    /* dark green */
    color: #006622;
}

.green {
    /* green */
    color: #00cc44;
}

.green_light {
    /* light green */
    color: #33ff77;
}

.green_white {
    /* white green */
    color: #99ffbb;
}

.black {
    /* black */
    color: #001a09;
}