
/****************************
************ Global
****************************/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: dimgray;
}

/****************************
************ Header
****************************/

header {
    text-align: center;
}

.menu {
    display: flex;
}

.menu-item {
    margin: 1vw;
}

/****************************
************ Main (Wrapper)
****************************/



/****************************
************ Media Queries
****************************/
